<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <!-- 使用remap标签进行话题重映射 -->
        <remap from="/map" to="projected_map" />
        <remap from="/odom" to="Odometry" />
        
        <rosparam file="$(find rl_sar)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rl_sar)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rl_sar)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rl_sar)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rl_sar)/param/base_local_planner_params.yaml" command="load" />
    </node>
</launch>